
// Fixes annoying issues with layouts being different dependent on the presence of a scrollbar.
html {overflow-y: scroll;}

// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Remove the underlining of links in the hero section except when hovered.
.wg-hero .hero-lead a {
  text-decoration-line: none;
}
.wg-hero .hero-lead a:hover {
  text-decoration-line: underline;
}

.dropdown-menu,nav#navbar-main, li.nav-item {
  font-size: 18px;
  font-weight: normal;
  background-color: #f1f3f7;
}

.navbar .dropdown-menu {
  font-size: 16px;
} 

.dropdown-menu,nav#navbar-main {
  height: 75px;
  align-items: stretch;
}         

.dropdown-menu,nav#navbar-main li.nav-item {
  margin-right:1rem;
  margin-left: 1rem;
//   padding-left: 0rem;
//   padding-right: 0rem;
//   padding-top: 0px;
//   padding-bottom: 0px;
//   margin-bottom: 0px;
}

// Create animated underline.
a.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #1E3765;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
a.nav-link:hover:after {
  width: 100%; 
  left: 0; 
}

// Create active link underline.
a.nav-link.active:after {
  width: 100%; 
  left: 0; 
}


.navbar .navbar-nav .nav-link.active {
  font-weight: normal !important;
}

.dropdown-menu,nav#navbar-main a.nav-link.active {
  font-weight: normal !important;
}

.hero-lead {
  max-width: 100%;
}

.home-section {
  padding: 30px 0px;
}

.btn {
  font-size: 1rem;
  background-color: #1E3765;
  color: #fff;
}

.btn:hover {
  color: #1E3765;
  background-color: #fff;
}

.article-tags {
  margin-top: 0;
  .badge-light {
    margin-bottom: 0;
  }
  // .badge-dark {
  //   color: #fff;
  // }
}

.badge-light[href]:hover {
  color: white;
  background: #007894;
}

.badge-active {
  color: white;
  background: #007894;
}

.pub-title {
  font-weight: bold;
}

// .navbar-brand {
//   margin: 0;
//   padding: 0;
// }

.author-highlighted {
  color: #1E3765;
}

// ul { padding: 0 0vw 0 0;}
.research-interests ul { padding-left: 15px;}
// h2 { margin: 0 0 0 0;}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #1E3765, #ccc);
}

// Apply red outline to all elements for debugging purposes.
// * { outline: 1px solid red; }